extends layout

block content
  p
    a(href="/") Word Wander home
  include query.jade
  h1= title
  p You can click on the first part of each word to see other words which start with that 'prefix.' For example,·
    | clicking on 'auf' in 
    a(href="/starts?prefix=auf") auf
    |stehen &nbsp;&nbsp; starts with naked 'auf' and then aufaddiere, aufaddieren, aufaddierend, and 14,320 other entertaining German words which start with 'auf.'
  hr
  ol
    each h, i in history
      li
        a(href="/#{h.query}?prefix=#{h.wordvalue}") #{h.wordvalue} 
        | (/#{h.query})
  

  include query.jade
