extends layout

block content
  p
    a(href="/") Word Wander home
  h1= title
  b #{prefixes.length}  prefixes/composites for 
  b #{root}
  hr
  ol
    each root, i in prefixes
      li=prefixes.root 
        p
          a(href="/starts?prefix=#{root.prefix}") #{root.prefix} (#{root.word})
      
  

