extends layout

block content
  include head.jade
  include query.jade
  h1= title
  b #{prefixes.length}  words which start with 
  b #{root}
  p You can click on the second part of each word to see other words which end with that 'stem.' For example, 
    | clicking on 'stehen' in auf
    a(href="/prefixes?root=stehen") stehen
    |&nbsp;&nbsp; shows you abseitsstehen, abstehen, abzustehen, anstehen, and 125 other fine German words.
  hr

  ol
    each w, i in prefixes
      li
        p 
          if w.top10k
            |(top10k word!) #{root}
          else
            |#{root}
          a(href="/prefixes?root=#{w.prefix}") #{w.prefix}
          | &nbsp; 
          a(href="https://translate.google.com/#de/en/#{w.word}", target="_new") (Google Translate)

          &nbsp;-&nbsp;
          a(href="http://dict.leo.org/#/search=#{w.word}&searchLoc=0&resultOrder=basic&multiwordShowSingle=on", target="_new") (dict.leo.org)
      
  
  include query.jade
